/*
 * style.css
 *
 *
 */
 
 body
 {
	margin:0px;
	padding:0px;
	font-family:'Times New Roman';
 }
 
 
 
 #header
 {
	height:10%;
	background-color:greenyellow;
	padding:10px;
	text-align:center;
 }

 #main-container
 {
	height:50%;
	background-color:yellow;
	padding:50px;
	text-align:center;
 }
 
 #footer{
	height:10%;
	background-color:skyblue;
	padding:10px;
	text-align:center;
 }
